<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Travelah</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="https://via.placeholder.com/100x50" alt="logo">
            <h1 id="title">Travelah</h1>
        </div>
        <nav>
            <ul>
                <li>Homepage</li>
                <li>Login</li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Welcome to the app</h2>
            <p>Please input your details:</p>
        </section>
        <section>
            <form id="destForm" name="destForm"> 
                <label for="dest">Destination:</label><input id="dest" type="text" name="dest" placeholder="Enter destination">
                <label for="arival">Arival Date:</label><input type="date" id="arival" name="arival">
                <input type="submit" name="sub" value="Submit">
            </form>
        </section>
        <section>
            <strong>Form Results:</strong>
            <div id="results"></div>
        </section>
    </main>
    <footer>
        <div class="logo">
            <img src="https://via.placeholder.com/100x50" alt="logo">
            <h2>Travelah</h2>
        </div>
        <div id="socials"> <!--  leads to blank pages for now -->
            <a href="http://" target="_blank" rel="noopener noreferrer"><img src="https://via.placeholder.com/50" alt="Twitter"></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><img src="https://via.placeholder.com/50" alt="Facebook"></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><img src="https://via.placeholder.com/50" alt="Instagram"></a>
        </div>
    </footer>
    <!-- <script> // Reactivate towards the end of the project
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
        </script> -->
</body>
</html>
