@import "variables";

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background: $primary-color;
    color: $white;
    img {
        max-width: 100px;
    }
}