@import "variables";

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background: $primary-color;
    color: $white;
}

.logo {
    display: flex;
}

/* Medium Screens */ // TO-DO Remove
@media (min-width: 601px) and (max-width:900px) {
    header {
        height: 5vh;
    }
}

/* Small Screens */ // TO-DO Remove
@media (max-width:600px) {

}